:root {
  /* Colors */
  --blue-50: #4e92d9;
  --blue-100: #3872af;
  --green-light: #74ebd5;
  --green-50: #1a7f37;
  --green-100: #1a6630;
  --gray-50: #edf3ff40;
  --gray-100: #80808038;
  --gray-200: #979baa;

  /* Text Sizes */
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-md: 1.125rem;
  --text-lg: 1.5rem;
  --text-xl: 2.3rem;
  --text-5xl: 5rem;
}
