@import "bootstrap/scss/bootstrap";

body {
  font-family: monospace;
  background-image: linear-gradient(to right, #74ebd5 0%, #9face6 100%);
}

.dark-mode body {
  background-image: linear-gradient(
    to right,
    #196456 0%,
    #4e5a92 100%
  ) !important;
}

.main-card .nav-tabs .nav-link {
  border: 0 !important;
  color: var(--gray-200);
  font-weight: 500;
  font-size: var(--text-base);
  padding: 0.5rem 0.3rem;
  margin-right: 1rem;
}

.main-card .nav-tabs .nav-link.active {
  border-bottom: 2px solid var(--blue-50) !important;
  color: var(--blue-50);
  font-weight: 600;
}

h5 {
  color: var(--gray-200);
  font-weight: 600;
  font-size: var(--text-md);
}

.regular-btn {
  background-color: var(--blue-50);
}

.regular-btn:hover {
  background-color: var(--blue-100);
}

.green-btn {
  background-color: var(--green-50);
}

.green-btn:hover {
  background-color: var(--green-100);
}

.cs-pointer {
  cursor: pointer;
}

.regular-color {
  color: var(--blue-50);
}

.regular-border {
  border-color: var(--blue-50);
}

.w-60 {
  width: 60%;
}

.text-sm {
  font-size: var(--text-sm);
}

.text-xl {
  font-size: var(--text-xl);
}
