body {
    font-family: sans-serif;  
    background-color: #edf3ff;
}

/* upload component */
.upload-card {
    border: 0 !important;
    box-shadow: 0 5px 75px rgb(0 78 149/9%);
}

 .uploader {
     padding: 80px 0 35px 0;
     text-align: center;
     border: 2.5px dashed #80808038;
     position: relative;
     border-radius: 15px;
     background-color: #edf3ff40;
     margin: 2rem;
     cursor: pointer;
 }

 .upload-image {
     margin-top: -50px;
     width: 50%;
 }

.file-input {
     width: 150px;
     margin: auto;
     height: 55px;
     position: relative;
 }

 .file-input input {
     background: #fff;
     position: absolute;
     left: 0;
     padding: 10px;
     cursor: pointer;
     opacity: 0;
     z-index: -2;
 }

.btn-icon {
    font-size: 14px;
}

textarea {
    height: 300px !important;
}

.upload-card .nav-tabs .nav-link{
    border:0 !important;
    color: #99A3BA;
    font-weight: 500;
    font-size: 15px;
    padding: 0.5rem 0.3rem;
    margin-right: 1rem;
}

.upload-card .nav-tabs .nav-link.active {
    border-bottom: 2px solid #578fff !important;
    color: #578fff;
    font-weight: 600;
}

.upload-card .card-body {
    padding: unset !important;
}

.upload-card h5 {
    color: #919dba;
    font-weight: 600;
    font-size: 17px;
}

.doc-type-card {
    border-color: #578fff;
    cursor: pointer;
}

.doc-type-card i
{
    color: #578fff;
    font-size: 1.5rem;
}

.bi-upload {
    color: #578fff;
}

.doc-type-card span{
    font-size: 16px;  
    color: #919dba;
}

.doc-type-card:hover, .typeActive{
    background-color: #edf3ff;
}

.custom-btn, .custom-btn:hover, .url-btn {
    background-color: #578fff;
}

.noPaddingTop {
    padding-top: 0 !important;
}

.cs-pointer {
    cursor: pointer;
}

.close-icon {
    font-size: 25px;
    padding-right: 0.3rem !important;
    color: #99A3BA;
}

.link-input .input-group-text {
    background-color: #edf3ff40;
    font-size: 20px;
    color: #578fff;
}

.link-input input::placeholder, .upload-title {
    color: #99A3BA;
    opacity: .7;
}

.extracted-data .list-group {
    background-color: #f0f8ff7d;
    padding: 1rem;
}

.extracted-data .list-group .key-name {
    color: #919dba;
}

.extracted-data .list-group .list-group-item{
    border-left: 3px solid #578fff;
    padding: 5px 7px;
}

.preview-img {
    border: 0.5px solid #578fff;
}

.data-container {
    width: 30%;
    margin-right: 1rem;
}